.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  max-height: 10rem;
  padding: 1.4rem 2rem;
  background-color: #101010;
}
.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile {
  display: flex;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.profile span {
  margin: auto 1rem;
}
.profile img {
  width: 3rem;
  border-radius: 50%;
  margin: 0 1rem;
}
.body {
  min-height: 100vh;
  background: rgb(37, 37, 37);
}
.toggler {
  padding: 1rem;
}
.toggler ul {
  list-style: none;
  display: inline-block;
  width: 90%;
}
.toggler li {
  display: inline-block;
  padding: 1rem 1rem;
  margin: 0 1rem;
  font-family: Inter;
  font-weight: 400;
  color: rgba(208, 203, 203, 1);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  /* border-bottom: 2px solid white; */
}
.toggler .active {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid white;
}
.filter {
  color: white;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  width: 4rem;
  cursor: pointer;
}
.filterActive {
  display: inline-block;
  width: 12rem;
  height: 15rem;
  background-color: black;
  border-radius: 5px;
  position: absolute;
  right: 5rem;
  top: 10rem;
  z-index: 2;
  overflow-y: auto;
}
.filterInactive {
  display: none;
}
.label {
  padding: 1rem;
  text-align: center;
  background-color: #101010;
  margin: 1rem;
  border-radius: 5px;
}
.listActive {
  height: 8rem;
  overflow-y: scroll;
  z-index: 4;
}
.listInactive {
  display: none;
}
.listItem {
  font-size: 14px;
  text-align: center;
  padding: 0.4rem;
}
